<!DOCTYPE html>
<html lang="en">

<head>
  <title>TO-DO Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">

      <!-- Header -->
      <h1 class="text-2xl font-semibold text-gray-600"> My Todo-list </h1>

      <!-- Form -->
      <form action="/todos" method="POST">
        <!-- ✅ CSRF token -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="flex gap-2 py-4">
          <div class="flex-auto w-64">
            <input type="text" name="title"
              class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
              placeholder="What's next?" autofocus required>
          </div>
          <div class="flex-auto w-32">
            <input type="date" name="dueDate"
              class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2 leading-4" required>
          </div>
          <div class="flex-none">
            <button type="submit"
              class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2">
              Add
            </button>
          </div>
        </div>
      </form>

      <!-- To-Do Categories -->
      <div class="mt-2">

        <!-- Overdue -->
        <h5 class="text-lg font-medium text-red-600">
          Overdue (<%= overdue.length %>)
        </h5>
        <%- include("todos", { todos: overdue, csrfToken }) %>

        <!-- Due Today -->
        <h5 class="text-lg font-medium text-yellow-600 mt-4">
          Due Today (<%= dueToday.length %>)
        </h5>
        <%- include("todos", { todos: dueToday, csrfToken }) %>

        <!-- Due Later -->
        <h5 class="text-lg font-medium text-green-600 mt-4">
          Due Later (<%= dueLater.length %>)
        </h5>
        <%- include("todos", { todos: dueLater, csrfToken }) %>

        <!-- completedTodos Items -->
        <h5 class="text-lg font-medium text-blue-600 mt-4">
          completed (<%= completedTodos.length %>)
        </h5>
        <%- include("todos", { todos: completedTodos, csrfToken }) %>

      </div>

    </div>
  </div>
</body>

</html>
